<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="KIRBY_TESTS" value="true"/>
        <env name="KIRBY_EVENTS_USE_MOCK" value="true"/>
        <env name="KIRBY_CACHE" value="false"/>
        <env name="KIRBY_DEBUG" value="true"/>
    </php>
</phpunit>
