# Kirby .htaccess
# revision 2023-07-22

<IfModule mod_alias.c>
# Redirects der alten KV Wordpress Seite
RedirectMatch 301 ^/der-kreisverband/vorstand/?$ /ueber-uns/vorstand
RedirectMatch 301 ^/unsere-arbeit/zeltlager/?$ /freizeiten/zeltlager
RedirectMatch 301 ^/spenden-2/?$ /spenden
RedirectMatch 301 ^/unsere-arbeit/mitarbeiterschulung-oldau/?$ /freizeiten/level-up
RedirectMatch 301 ^/unsere-arbeit/jungschar/?$ /weitere-arbeit/gruppenangebote
RedirectMatch 301 ^/der-kreisverband/spenden-2/?$ /spenden
RedirectMatch 301 ^/der-kreisverband/ortsvereine/?$ /ueber-uns/ortsvereine
RedirectMatch 301 ^/unsere-arbeit/club-camp/?$ /freizeiten/club-camp
RedirectMatch 301 ^/unsere-arbeit/sport/?$ /weitere-arbeit/sport
RedirectMatch 301 ^/oldau/?$ /freizeiten/level-up
RedirectMatch 301 ^/unsere-arbeit/freizeitarbeit/?$ /freizeiten
RedirectMatch 301 ^/unsere-arbeit/klaecks/?$ /weitere-arbeit/klaecks
RedirectMatch 301 ^/unsere-arbeit/posaunenarbeit/?$ /weitere-arbeit/posaunen
RedirectMatch 301 ^/unsere-arbeit/?$ /weitere-arbeit
RedirectMatch 301 ^/der-kreisverband/?$ /ueber-uns/der-kreisverband

RedirectMatch 301 ^/buender-blaeserfestival/?$ /blog/
RedirectMatch 301 ^/kv-famielienkreis/?$ /blog/
RedirectMatch 301 ^/6599-2/?$ /blog/
RedirectMatch 301 ^/fussball-turnier-2/?$ /blog/
RedirectMatch 301 ^/oldie-zeltlager-ue18-ohne-kinder/?$ /blog/
RedirectMatch 301 ^/familien-oldie-zeltlager/?$ /blog/
RedirectMatch 301 ^/oldi-familien-zeltlager-2024/?$ /blog/
RedirectMatch 301 ^/kv-fussballturnier-2023/?$ /blog/
RedirectMatch 301 ^/50-jahre-kreisposauenfest-blaesergottesdienst-am-26-02-2023-in-holsen-ahle/?$ /blog/
RedirectMatch 301 ^/ameland-college-2023/?$ /blog/
RedirectMatch 301 ^/du-hast-lust-dieses-jahr-als-referentin-referent-in-oldau-dabei-zu-sein/?$ /blog/
RedirectMatch 301 ^/aktion-nadelnder-tannenbaum-am-07-01-2023-und-14-01-2023-jeweils-ab-0900-uhr/?$ /blog/
RedirectMatch 301 ^/ich-sehe-dich/?$ /blog/
RedirectMatch 301 ^/termine-im-kreisverband-2023/?$ /blog/
RedirectMatch 301 ^/nach-zwei-jahren-kv-turnier-feiert-grosses-comeback/?$ /blog/
RedirectMatch 301 ^/das-war-die-church-night/?$ /blog/
RedirectMatch 301 ^/ymca-gebetswoche-2022/?$ /blog/
RedirectMatch 301 ^/martin-luther-singen-findet-wieder-statt/?$ /blog/
RedirectMatch 301 ^/spenden-aktiv-werden/?$ /blog/
RedirectMatch 301 ^/oldau-2022-neue-impulse-fuer-deine-cvjm-arbeit/?$ /blog/
RedirectMatch 301 ^/church-night-gottesdienst/?$ /blog/
RedirectMatch 301 ^/hallenfussballturnier-in-der-wirtsheide-egb/?$ /blog/
RedirectMatch 301 ^/zeltlager-im-sommer-2023/?$ /blog/
RedirectMatch 301 ^/raetsel-um-ersten-cvjm-zeltplatz-wohl-geloest/?$ /blog/
RedirectMatch 301 ^/jubilaeumsfest-75-jahre-zeltlager/?$ /blog/
RedirectMatch 301 ^/zeltlager-ist-nur-einmal-im-jahr-2/?$ /blog/
RedirectMatch 301 ^/fussballturnier-fuer-mitarbeiterinnen-open-air/?$ /blog/
RedirectMatch 301 ^/anmelden-fuer-die-mitarbeiterinnenschulung-in-oldau/?$ /blog/
RedirectMatch 301 ^/ameland-college-auf-der-insel-ameland-nl/?$ /blog/
RedirectMatch 301 ^/kv-klausur-in-berlin/?$ /blog/
RedirectMatch 301 ^/cvjm-boule-turnier-in-roedinghausen/?$ /blog/
RedirectMatch 301 ^/komm-mit-zum-christival-nach-erfurt/?$ /blog/
RedirectMatch 301 ^/erste-hilfe-kurs-fuer-mitarbeitende/?$ /blog/
RedirectMatch 301 ^/ameland-college-2022/?$ /blog/
RedirectMatch 301 ^/werde-oldau-referentin-2022/?$ /blog/
RedirectMatch 301 ^/skifreizeit-schladming/?$ /blog/
RedirectMatch 301 ^/einsammeln-der-tannenbaeume-und-spendenzwecke/?$ /blog/
RedirectMatch 301 ^/6281-2/?$ /blog/
RedirectMatch 301 ^/kv-terminkalender-2022/?$ /blog/
RedirectMatch 301 ^/absage-des-fussballturnier/?$ /blog/
RedirectMatch 301 ^/church-night-2/?$ /blog/
RedirectMatch 301 ^/kv-fussballturnier/?$ /blog/
RedirectMatch 301 ^/ymca-gebetswoche/?$ /blog/
RedirectMatch 301 ^/inspirierende-oldauschulung/?$ /blog/
RedirectMatch 301 ^/church-night-am-reformationstag/?$ /blog/
RedirectMatch 301 ^/endlich-wieder-zela/?$ /blog/
RedirectMatch 301 ^/zeltlager-ist-nur-einmal-im-jahr/?$ /blog/
RedirectMatch 301 ^/brandschutzschulung-fuer-zeltlager-mitarbeiterinnen-und-mitarbeiter/?$ /blog/
RedirectMatch 301 ^/cvjm-clubcamp-goes-christival/?$ /blog/
RedirectMatch 301 ^/kv-jungschar-stunde-xxl-online/?$ /blog/
RedirectMatch 301 ^/oldau-2021-schon-angemeldet/?$ /blog/
RedirectMatch 301 ^/jungschar-zeltlager-im-sommer/?$ /blog/
RedirectMatch 301 ^/wanderfreizeit-schladming-2/?$ /blog/
RedirectMatch 301 ^/erste-hilfe-kurs-nicht-am-27-02-2021/?$ /blog/
RedirectMatch 301 ^/cvjm-interaktiv-in-owl/?$ /blog/
RedirectMatch 301 ^/werde-referentinreferent-in-oldau-2021/?$ /blog/
RedirectMatch 301 ^/aufruf-zur-spende-trotz-absage-der-aknata/?$ /blog/
RedirectMatch 301 ^/aktion-nadelnder-tannenbaum-2021/?$ /blog/
RedirectMatch 301 ^/zeltlager-2021/?$ /blog/
RedirectMatch 301 ^/kv-fussballturnier-mal-anders/?$ /blog/
RedirectMatch 301 ^/oldau-teamreflexion-und-ausblick-2021/?$ /blog/
RedirectMatch 301 ^/die-fussbaelle-rollen-online-fussballturnier/?$ /blog/
RedirectMatch 301 ^/martinssingen-cvjm-ortsvereine-waeren-bereit-gewesen/?$ /blog/
RedirectMatch 301 ^/ymca-gebetswoche-digital/?$ /blog/
RedirectMatch 301 ^/kv-buero-aktuell-nicht-nutzbar/?$ /blog/
RedirectMatch 301 ^/mitarbeiter-fussballturnier-absage/?$ /blog/
RedirectMatch 301 ^/church-night-gottesdienst-findet-nicht-statt/?$ /blog/
RedirectMatch 301 ^/oldau-mal-anders/?$ /blog/
RedirectMatch 301 ^/ameland-college-2021-anmeldungen-sind-raus/?$ /blog/
RedirectMatch 301 ^/oldau-findet-statt/?$ /blog/
RedirectMatch 301 ^/wanderfreizeit-schladming/?$ /blog/
RedirectMatch 301 ^/zeltlagerhome-2/?$ /blog/
RedirectMatch 301 ^/zeltlagerhome/?$ /blog/
RedirectMatch 301 ^/oldau-anmeldungen-nun-fuer-alle-moeglich/?$ /blog/
RedirectMatch 301 ^/club-camp-home-findet-statt/?$ /blog/
RedirectMatch 301 ^/absage-cvjm-club-camp-owl-2020/?$ /blog/
RedirectMatch 301 ^/kontaktsperre-verlaengert/?$ /blog/
RedirectMatch 301 ^/deutschland-betet-gemeinsam/?$ /blog/
RedirectMatch 301 ^/latenight-worship/?$ /blog/
RedirectMatch 301 ^/jo-bietet-inhalte-kostenlos-an/?$ /blog/
RedirectMatch 301 ^/cvjm-in-zeiten-von-corona/?$ /blog/
RedirectMatch 301 ^/neues-portal-gegen-die-langeweile/?$ /blog/
RedirectMatch 301 ^/cvjm-gebet-taeglich-2121-uhr/?$ /blog/
RedirectMatch 301 ^/coronavirus/?$ /blog/
RedirectMatch 301 ^/oldau-2020-anmeldungen-fuer-grundkurs/?$ /blog/
RedirectMatch 301 ^/jesushouse-livestream/?$ /blog/
RedirectMatch 301 ^/jesus-house-2020/?$ /blog/
RedirectMatch 301 ^/cvjm-club-camp-owl-2020/?$ /blog/
RedirectMatch 301 ^/erste-hilfe-kurs/?$ /blog/
RedirectMatch 301 ^/gute-vorzeichen-fuer-die-wanderung-im-melller-berg/?$ /blog/
RedirectMatch 301 ^/imposante-klaenge-kreisposaunenfest-mit-fast-100-blaeserinnen/?$ /blog/
RedirectMatch 301 ^/die-wohngemeinschaft-ist-25-jahre/?$ /blog/
RedirectMatch 301 ^/vorstandsklausur-in-der-hollager-muehle/?$ /blog/
RedirectMatch 301 ^/skifreizeit2020/?$ /blog/
RedirectMatch 301 ^/gutes-neues-jahr/?$ /blog/
RedirectMatch 301 ^/lebendiges-leuchtendes-dreieck/?$ /blog/
RedirectMatch 301 ^/eintreten-fuer-gleichberechtigung/?$ /blog/
RedirectMatch 301 ^/refresh-das-hat-mir-kraft-gegeben/?$ /blog/
RedirectMatch 301 ^/zeltlager-2020-anmeldungen-sind-raus/?$ /blog/
RedirectMatch 301 ^/dinner-for-the-firsts/?$ /blog/
RedirectMatch 301 ^/zeltlager-2020/?$ /blog/
RedirectMatch 301 ^/ameland-college-2020/?$ /blog/
RedirectMatch 301 ^/fussballturnier/?$ /blog/
RedirectMatch 301 ^/church-night-2019/?$ /blog/
RedirectMatch 301 ^/oldau-garben-entdecken/?$ /blog/
RedirectMatch 301 ^/4-zela-2019/?$ /blog/
RedirectMatch 301 ^/wanderung-um-den-duemmer-see/?$ /blog/
RedirectMatch 301 ^/freizeit-fuer-junge-erwachsene-refresh/?$ /blog/
RedirectMatch 301 ^/6-zela-2019/?$ /blog/
RedirectMatch 301 ^/3-zela-2019-das-tak/?$ /blog/
RedirectMatch 301 ^/4-zela-2019-2/?$ /blog/
RedirectMatch 301 ^/1-zela-2019/?$ /blog/
RedirectMatch 301 ^/zela-2019-2/?$ /blog/
RedirectMatch 301 ^/wuppen-fuers-zeltlager-2/?$ /blog/
RedirectMatch 301 ^/neuer-vorstand/?$ /blog/
RedirectMatch 301 ^/oldau-2019-alle-plaetze-sind-voll/?$ /blog/
RedirectMatch 301 ^/175-jahre-und-kein-bisschen-leise/?$ /blog/
RedirectMatch 301 ^/cvjm-club-camp-owl-in-halle-war-anstrengend-und-hat-spass-gemacht/?$ /blog/
RedirectMatch 301 ^/fotografischer-rueckblick-der-winterwanderung/?$ /blog/
RedirectMatch 301 ^/das-war-die-kreisvertretung-2019/?$ /blog/
RedirectMatch 301 ^/ameland-college-2019-meehr-erleben/?$ /blog/
RedirectMatch 301 ^/oldau-anmeldung-ab-sofort-fuer-alle-moeglich/?$ /blog/
RedirectMatch 301 ^/oldau-anmeldung-fuer-den-grundkurs/?$ /blog/
RedirectMatch 301 ^/95-kilometer-auf-dem-wittekindsweg/?$ /blog/
RedirectMatch 301 ^/cvjm-club-camp-owl-jetzt-anmelden/?$ /blog/
RedirectMatch 301 ^/wanderung-auf-der-zielgeraden-letzte-etappe/?$ /blog/
RedirectMatch 301 ^/kreisposaunenfest-rueckblick/?$ /blog/
RedirectMatch 301 ^/winterwanderung-etappe-3-klug-wars-nicht-aber/?$ /blog/
RedirectMatch 301 ^/auf-gehts-anmelden-fuer-etappe-3/?$ /blog/
RedirectMatch 301 ^/ameland-college-noch-restplaetze-frei/?$ /blog/
RedirectMatch 301 ^/wittekindsweg-zweite-etappe-jetzt-anmelden/?$ /blog/
RedirectMatch 301 ^/winterwanderung-die-erste-etappe-ist-geschafft/?$ /blog/
RedirectMatch 301 ^/danke-an-alle-helfer-unterstuetzer-und-spender/?$ /blog/
RedirectMatch 301 ^/tannenbaeume-werden-eingesammelt/?$ /blog/
RedirectMatch 301 ^/zeltlager-2019-schon-40-anmeldungen/?$ /blog/
RedirectMatch 301 ^/jetzt-anmelden-zum-zeltlager-2019/?$ /blog/
RedirectMatch 301 ^/weihnachten-es-ist-soweit/?$ /blog/
RedirectMatch 301 ^/ameland-college-2019-anmeldungen-jetzt-moeglich/?$ /blog/
RedirectMatch 301 ^/weltbundgebetswoche/?$ /blog/
RedirectMatch 301 ^/winterwanderung-wittekindsweg/?$ /blog/
RedirectMatch 301 ^/fussballturnier-jetzt-anmelden/?$ /blog/
RedirectMatch 301 ^/4673-2/?$ /blog/
RedirectMatch 301 ^/maranatha18/?$ /blog/
RedirectMatch 301 ^/zeltlager-2018-das-muss-man-erlebt-haben/?$ /blog/
RedirectMatch 301 ^/zeltlager-fundsachen/?$ /blog/
RedirectMatch 301 ^/nochmal-zelte-wuppen/?$ /blog/
RedirectMatch 301 ^/letzter-tag-im-zeltlager/?$ /blog/
RedirectMatch 301 ^/bergfest-im-zela/?$ /blog/
RedirectMatch 301 ^/hoher-besuch-auf-dem-zeltplatz/?$ /blog/
RedirectMatch 301 ^/zela-2018-der-erste-tag/?$ /blog/
RedirectMatch 301 ^/workshop-teilehmergewinnung-oeffentlichkeitsarbeit/?$ /blog/
RedirectMatch 301 ^/wuppen-fuers-zeltlager/?$ /blog/
RedirectMatch 301 ^/zeltlager-letzte-gemeinsame-vorbereitung/?$ /blog/
RedirectMatch 301 ^/datenschutz-grundverordnung-dsgvo/?$ /blog/
RedirectMatch 301 ^/cvjm-bewegung-im-175-lebensjahr/?$ /blog/
RedirectMatch 301 ^/zeltlager-ist-voll-belegt/?$ /blog/
RedirectMatch 301 ^/cvjm-club-camp-owl-2018/?$ /blog/
RedirectMatch 301 ^/oldau-ist-ausgebucht/?$ /blog/
RedirectMatch 301 ^/bundesposaunenfest/?$ /blog/
RedirectMatch 301 ^/auf-gehts-zum-cvjm-club-camp-owl/?$ /blog/
RedirectMatch 301 ^/oldau-2018-anmeldungen-zum-download/?$ /blog/
RedirectMatch 301 ^/wirklich-ein-meehr-fuers-leben/?$ /blog/
RedirectMatch 301 ^/lebensmelodien-zum-runden-geburtstag/?$ /blog/
RedirectMatch 301 ^/zeltlager-2018-anmeldungen-jetzt-herunterladen/?$ /blog/
RedirectMatch 301 ^/lagerfeuerabend-der-zeltlagermitarbeiter/?$ /blog/
RedirectMatch 301 ^/ameland-college-2018-anmeldungen-jetzt-moeglich/?$ /blog/
RedirectMatch 301 ^/zeltlagerleitung-fuer-2018-im-amt-bestaetigt/?$ /blog/
RedirectMatch 301 ^/4250-2/?$ /blog/
RedirectMatch 301 ^/oldau-2017-anmeldungen-zum-download/?$ /blog/
RedirectMatch 301 ^/prost-martin-anekdoten-und-tiefgang-zum-reformationsjubliaeum/?$ /blog/
RedirectMatch 301 ^/prost-martin-mit-luther-an-der-bar/?$ /blog/
RedirectMatch 301 ^/kv-triathlon-fuer-jedermann-am-23-09-2017/?$ /blog/
RedirectMatch 301 ^/zeltlager-2017-anmeldungen-jetzt-runterladen/?$ /blog/
RedirectMatch 301 ^/4183-2/?$ /blog/
RedirectMatch 301 ^/fruehstueck-nummer-3/?$ /blog/
RedirectMatch 301 ^/4173-2/?$ /blog/
RedirectMatch 301 ^/dorfplatztuning-in-dorf-i/?$ /blog/
RedirectMatch 301 ^/ameland-college-meehr-fuers-leben/?$ /blog/
RedirectMatch 301 ^/toene-der-reformation/?$ /blog/
RedirectMatch 301 ^/vorstaendeessen-im-kreisverband-buende/?$ /blog/
RedirectMatch 301 ^/fragen-und-fragen-ueber-fragen/?$ /blog/
RedirectMatch 301 ^/mitarbeiter-fussballturnier-2011-der-pokal-bleibt-in-kirchlengern/?$ /blog/
RedirectMatch 301 ^/das-war-das-fussballturnier-2014/?$ /blog/
RedirectMatch 301 ^/mitarbeiter-fussballturnier-19-11-2016-in-bruchmuehlen/?$ /blog/
RedirectMatch 301 ^/mit-dem-kv-unterwegs/?$ /blog/
RedirectMatch 301 ^/oldau-2016-anmeldungen-zum-download/?$ /blog/
RedirectMatch 301 ^/jesus-versoehnt-melde-dich-jetzt-zum-christival-an/?$ /blog/
RedirectMatch 301 ^/bericht-aus-dem-maedchenlager/?$ /blog/
RedirectMatch 301 ^/die-ersten-tage-im-maedelslager/?$ /blog/
RedirectMatch 301 ^/fotosammlung-aus-den-zeltlagern/?$ /blog/
RedirectMatch 301 ^/aufladen-aufbauen-abbauen/?$ /blog/
RedirectMatch 301 ^/highland-games-konzerte-und-andachten/?$ /blog/
RedirectMatch 301 ^/foto-vom-maennerwochenende-in-bimolten/?$ /blog/
RedirectMatch 301 ^/voelkerballturnier2015/?$ /blog/
RedirectMatch 301 ^/duerfen-wir-vorstellen/?$ /blog/
RedirectMatch 301 ^/infos-zu-den-aufbaulagern/?$ /blog/
RedirectMatch 301 ^/erste-fotos-aus-dem-jungenlager/?$ /blog/
RedirectMatch 301 ^/neues-aus-dem-maedchenlager/?$ /blog/
RedirectMatch 301 ^/ein-neuer-schwung-fotos-von-den-jungs/?$ /blog/
RedirectMatch 301 ^/sponsi-radfahren-fuer-einen-guten-zweck/?$ /blog/
RedirectMatch 301 ^/abbaulager-eure-hilfe-ist-gefragt/?$ /blog/
RedirectMatch 301 ^/adventsfreizeit-in-bimolten/?$ /blog/
RedirectMatch 301 ^/alle-kinder-heil-gelandet/?$ /blog/
RedirectMatch 301 ^/oldau-anmeldungen/?$ /blog/
RedirectMatch 301 ^/kreisvertretung-des-cvjm-kreisverband-buende-erfolgreich-im-gemeindehaus-schwenningdorf/?$ /blog/
RedirectMatch 301 ^/mitarbeiterfest-des-cvjm-kreisverband-buende/?$ /blog/
RedirectMatch 301 ^/rundbrief-012014/?$ /blog/
RedirectMatch 301 ^/maennerwochenende-in-bimolten/?$ /blog/
RedirectMatch 301 ^/mitarbeiterfest-des-kreisverbandes-am-24-maerz-2014/?$ /blog/
RedirectMatch 301 ^/zeltlager-anmeldungen-2014/?$ /blog/
RedirectMatch 301 ^/termine-2014-im-kv/?$ /blog/
RedirectMatch 301 ^/be-the-change-weltgebetsabend-15-11-2013/?$ /blog/
RedirectMatch 301 ^/martinssingen/?$ /blog/
RedirectMatch 301 ^/das-war-oldau-2013-anders-als-du-denkst/?$ /blog/
RedirectMatch 301 ^/cvjm-adventswochenende-in-bimolten/?$ /blog/
RedirectMatch 301 ^/kreismitarbeitertag-kanutour/?$ /blog/
RedirectMatch 301 ^/fotos-aus-werpeloh-madchenzeltlager/?$ /blog/
RedirectMatch 301 ^/fotos-vom-jungenzeltlager/?$ /blog/
RedirectMatch 301 ^/aufbau-und-abbaulager/?$ /blog/
RedirectMatch 301 ^/eventuelle-klage-gegen-den-cvjm-kreisverband-bunde/?$ /blog/
RedirectMatch 301 ^/mitarbeiterfreizeit-nach-wales/?$ /blog/
RedirectMatch 301 ^/termine-2013/?$ /blog/
RedirectMatch 301 ^/kreisposaunenfest-24-februar-um-10-uhr/?$ /blog/
RedirectMatch 301 ^/kreisverbands-bulli-nun-mit-aufschrift/?$ /blog/
RedirectMatch 301 ^/senioren-zeltlager/?$ /blog/
RedirectMatch 301 ^/aktion-nadelnder-tannenbaum-2013/?$ /blog/
RedirectMatch 301 ^/stundenplan-oldau-2012/?$ /blog/
RedirectMatch 301 ^/jungen-zela-fotos-und-berichte/?$ /blog/
RedirectMatch 301 ^/oldau-ist-etwas-besonderes/?$ /blog/
RedirectMatch 301 ^/jungscharmitarbeitertag/?$ /blog/
RedirectMatch 301 ^/jungschar-mitarbeitertag-18-november-1430-1730/?$ /blog/
RedirectMatch 301 ^/jungschar-mitarbeitertag-des-kv/?$ /blog/
RedirectMatch 301 ^/besinnliches-wochenende-im-advent/?$ /blog/
RedirectMatch 301 ^/berichte-aus-dem-madchen-zela/?$ /blog/
RedirectMatch 301 ^/die-zelte-stehen-es-kann-los-gehen/?$ /blog/
RedirectMatch 301 ^/die-mitarbeiterschulung-in-oldau-ist-voll/?$ /blog/
RedirectMatch 301 ^/bibelkreis/?$ /blog/
RedirectMatch 301 ^/online-anmeldeformulare-fur-die-zeltfreizeiten/?$ /blog/
RedirectMatch 301 ^/flyer-fur-auf-und-abbaulager-2012/?$ /blog/
RedirectMatch 301 ^/oldau-2012-anmeldungen-sind-raus/?$ /blog/
RedirectMatch 301 ^/abnadelung-im-doppelpack/?$ /blog/
RedirectMatch 301 ^/der-neue-rundbrief-ist-da/?$ /blog/
RedirectMatch 301 ^/oldau-nachtreffen-2011/?$ /blog/
RedirectMatch 301 ^/neuer-vereinsbulli-fur-den-kreisverband/?$ /blog/
RedirectMatch 301 ^/aktion-nadelnder-tannenbaum-2012/?$ /blog/
RedirectMatch 301 ^/jungscharzeltlager-der-madchen-2012/?$ /blog/
RedirectMatch 301 ^/zela-2011-diashow-madchenzeltlager/?$ /blog/
RedirectMatch 301 ^/oldau-stundenplane-2011/?$ /blog/
RedirectMatch 301 ^/oldau-2011/?$ /blog/
RedirectMatch 301 ^/update-1-zela-der-madchen/?$ /blog/
RedirectMatch 301 ^/update-1-zeltlager-der-jungen/?$ /blog/
RedirectMatch 301 ^/jungscharzeltlager-der-jungen/?$ /blog/
RedirectMatch 301 ^/jungscharzeltlager-der-madchen-2011/?$ /blog/
RedirectMatch 301 ^/freie-zeltlager-platze/?$ /blog/
</IfModule>

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder;
# otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite,
# set the RewriteBase to:
#
# RewriteBase /mysite

# In some environments it's necessary to
# set the RewriteBase to:
#
RewriteBase /

# block files and folders beginning with a dot, such as .git
# except for the .well-known folder, which is used for Let's Encrypt and security.txt
RewriteRule (^|/)\.(?!well-known\/) index.php [L]

# block all files in the content folder from being accessed directly
RewriteRule ^content/(.*) index.php [L]

# block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) index.php [L]

# block direct access to Kirby and the Panel sources
RewriteRule ^kirby/(.*) index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>

# pass the Authorization header to PHP
SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1

# compress text file responses
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# set security headers in all responses
<IfModule mod_headers.c>

# serve files as plain text if the actual content type is not known
# (hardens against attacks from malicious file uploads)
Header set Content-Type "text/plain" "expr=-z %{CONTENT_TYPE}"
Header set X-Content-Type-Options "nosniff"

</IfModule>

# Caching of static assets
<IfModule mod_expires.c>
  ExpiresActive On

  # CSS
  ExpiresByType text/css "access plus 1 year"

  # Fonts
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"

  # JS
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
</IfModule>
