@layer components {
    .card {
        @apply bg-white rounded-md;
        box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.05);
        /* width: 34.25rem;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 20rem; */
    }

    .angled-cut {
        position: relative;
        overflow: hidden;
        clip-path: polygon(3.75rem 0, 100% 0px, 100% 100%, 0 100%);
        z-index: 1;
    }
}
