.k-block-type-heading-input[data-level=h1] {
  --text-size: var(--text-2xl);
  line-height:1.125em
}
.k-block-type-heading-input[data-level=h2] {
  --text-size: var(--text-xl);
}
.k-block-type-heading-input[data-level=h3] {
  --text-size: var(--text-lg)
}
.k-block-type-heading-input[data-level=h4] {
  --text-size: var(--text-md)
}

.k-block > [data-collapsed="true"] > .k-block-type-fields-header > .k-block-title > .k-block-icon:has(> [*|href="\#icon-angle-up"]) {
    transform: rotate(180deg);
}

/* Block Layout gap */
.k-field-name-layouts {
    > .k-blocks {
        background: transparent;
        box-shadow: none;

        > * > .k-block-container {
        	box-shadow: var(--shadow);

            &:has(+ .k-block-container) {
                margin-block-end: .5rem;
            }
        }
    }

    .k-block-type-fields-form .k-block-type-fields-form {
        padding-inline: var(--spacing-4);
    }
}
