@layer base {
    .btn {
        @apply font-style font-semibold text-sm py-1 px-2 rounded inline-flex items-center;
        transition: background-color .2s ease-in;
        cursor: pointer;

        > .icon {
            @apply w-3.5 h-3.5 ml-2;
        }

        &:hover {
            transition: none;
        }

        &:focus-visible {
            @apply outline-none ring-2 ring-contrast;
        }

        &.disabled,
        &:disabled,
        &[aria-disabled] {
            @apply opacity-30;
            cursor: auto;
            pointer-events: none;
        }
    }

    .btn--icon-left > .icon {
        @apply ml-0 mr-2;
    }

    .btn--primary {
        @apply bg-primary text-white;

        &:hover, .card:hover & {
            @apply bg-tertiary;
        }
    }

    .btn--secondary {
        @apply bg-secondary text-contrast;

        &:hover, .card:hover & {
            background-color: #dbd7d2
        }
    }

    .btn--ghost {
        @apply bg-transparent text-contrast;

        &:hover, .card:hover & {
            @apply bg-offwhite;
        }
    }
}
