
@layer base {
    .dvll-container {
        display: flex;
        flex-direction: column;
        align-content: start;
    }

    .dvll-section {
        scroll-margin-block-start: 6rem;
        @apply mb-16;

        &:first-child {
            @apply pt-30;
            scroll-margin-block-start: 0;
        }

        &:is(.dvll-section--real-top) {
            @apply pt-0;
        }

        @media (width >= 48rem) {
            @apply mb-24;
        }

        &:has(.stage-text) {
            @apply bg-offwhite;
        }
    }

    .dvll-section__layout {
        display: grid;
        grid-template-columns: 0px repeat(9, 1fr) 0px;
        column-gap: 1rem;

        &:has(.swiper) {
            overflow-x: clip;
        }

        @media (width >= 48rem) {
            column-gap: 1.5rem;

        }
        @media (width >= 73.25rem) {
            column-gap: 1.5rem;
            grid-template-columns: 1fr repeat(9, calc((73.25rem - 15rem) / 9)) 1fr;

        }
    }

    .dvll-section__full-grid-layout {
        @apply max-w-[73.25rem] mx-auto;
        padding-inline: 1rem;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        column-gap: 1.5rem;
        @media (width >= 48rem) {
            padding-inline: 1.5rem;
        }
    }

    .dvll-block {
        &:has(+ .dvll-block) {
            @apply mb-8;
        }

        &.dvll-block--gap-sm:has(+ .dvll-block) {
            @apply mb-6;
        }

        &.dvll-block--wide {
            @apply col-start-2 col-end-11;

            .dvll-section__layout2 & {
                @apply col-start-2 col-end-11;
            }
        }

        &.dvll-block--full {
            @apply col-span-full;
        }

        &.dvll-block--centered {
            @apply col-start-2 col-end-11;

            @media (width >= 64rem) {
                @apply col-start-3 col-end-10;
            }

            .dvll-section__layout--two-col & {
                @media (width >= 64rem) {
                    @apply col-start-2 col-end-8;
                }
            }
        }

        &.dvll-block--sidebar {
            @apply col-start-2 col-end-11;

            @media (width >= 64rem) {
                @apply col-start-8 col-span-3;
            }
        }

        &.dvll-block--narrow {
            @apply col-start-2 col-end-11;

            @media (width >= 64rem) {
                @apply col-start-3 col-end-9;
            }

            .dvll-section__layout--two-col & {

                @media (width >= 64rem) {
                    @apply col-start-2 col-end-7;
                }
            }
        }
    }
}
