
@layer base {
    .dvll-container {
        display: flex;
        flex-direction: column;
        align-content: start;
    }

    .dvll-section {
        @apply mb-16;

        @apply pt-30 -mt-30;

        &:first-child {
            @apply pt-30 -mt-0;
        }

        &:is(.dvll-section--real-top) {
            @apply pt-0;
        }

        @media (width >= 48rem) {
            @apply mb-24;
        }

        &:has(.stage-text) {
            @apply bg-offwhite;
            /* @apply -mt-60 pt-64 pb-8; */
        }
    }

    .dvll-section__layout {
        @apply max-w-[73.25rem] mx-auto;
        padding-inline: 1rem;

        @media (width >= 48rem) {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            column-gap: 1.5rem;
            padding-inline: 1.5rem;
        }
    }

    .dvll-block {
        &:has(+ .dvll-block) {
            @apply mb-8;
        }

        &.dvll-block--gap-sm:has(+ .dvll-block) {
            @apply mb-6;
        }

        &.dvll-block--wide {
            @apply col-span-full;
        }

        &.dvll-block--narrow {
            @apply col-start-1 col-end-9;

            @media (width >= 64rem) {
                @apply col-start-2 col-end-7;
            }

            .dvll-section__layout--two-col & {
                /* @apply col-start-2 col-end-7; */

                @media (width >= 64rem) {
                    @apply col-start-1 col-end-6;
                }
            }
        }
    }
}
