@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "./button.css";
@import "./layout.css";
@import "./media.css";
@import "./header.css";
@import "./components/card.css";



@layer base {
    svg {
        @apply w-full h-full;
    }

    /* Fix Safari issue related to <summary> / <details> arrow */
    details>summary.list-none::-webkit-details-marker,
    details>summary.list-none::marker {
        display: none;
    }

    /* https://defensivecss.dev/tip/flexbox-min-content-size/ */
    * {
        min-height: 0;
        min-width: 0;
    }

    body:has(.any-modal[open]) {
        overflow: hidden; /* Disable scrolling when modal is open */
    }

    body {
        @apply text-contrast;
    }
}

@layer components {

}

@layer utilities {
    .balanced {
        text-wrap: balance;
    }

    .grid-stacked {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        > * {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }
    }
    .area-main {
        grid-area: main;
    }

    .area-image {
        grid-area: img;
    }
}
