@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "./button.css";
@import "./layout.css";
@import "./media.css";
@import "./header.css";
@import "./components/card.css";
@import "./blocks/stage-welcome.css";



@layer base {
    svg {
        @apply w-full h-full;
    }

    /* Fix Safari issue related to <summary> / <details> arrow */
    details>summary.list-none::-webkit-details-marker,
    details>summary.list-none::marker {
        display: none;
    }

    /* https://defensivecss.dev/tip/flexbox-min-content-size/ */
    * {
        min-height: 0;
        min-width: 0;
    }

    body:has(.any-modal[open]) {
        overflow: hidden; /* Disable scrolling when modal is open */
    }

    body {
        @apply text-contrast;
    }
}

@layer components {

}

@layer utilities {
    .balanced {
        text-wrap: balance;
    }

    .grid-stacked {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        > * {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }
    }
    .area-main {
        grid-area: main;
    }

    .area-image {
        grid-area: img;
    }

    *:has(> .transition-flip) {
        /* position: relative; */
        perspective: 1000px;
        perspective-origin: 60% center;
    }

    .transition-flip {
        @media (prefers-reduced-motion: no-preference) {
            /* display: none !important; */
            transform: rotateX(0);
            transform-origin: left top;
            transform-style: preserve-3d;
            opacity: 1;
            transition: transform 0.2s cubic-bezier(.25,.46,.45,.94), opacity 0.4s cubic-bezier(.25,.46,.45,.94);
            transition-delay: calc(var(--transition-delay, 0) + 0.05s), calc(var(--transition-delay, 0));

            @starting-style {
                transform: rotateX(-45deg);
                opacity: 0;
            }
            &.initial {
                transform: rotateX(-45deg);
                opacity: 0;
            }

        }
    }

    .transition-drive {
        @media (prefers-reduced-motion: no-preference) {
            /* display: none !important; */
            transform: translateX(0) translateY(0);
            opacity: 1;
            transition: transform 0.2s cubic-bezier(.25,.46,.45,.94), opacity 0.4s cubic-bezier(.25,.46,.45,.94);
            transition-delay: calc(var(--transition-delay, 0) + 0.05s), calc(var(--transition-delay, 0));

        }
        &.transition-drive--to-right {
            @starting-style {
                transform: translateX(-20px) translateY(0);
                opacity: 0;
            }
        }

        &.transition-drive--to-left {
            @starting-style {
                transform: translateX(20px) translateY(0);
                opacity: 0;
            }
        }
        &.transition-drive--to-top {
            @starting-style {
                transform: translateX(0) translateY(20px);
                opacity: 0;
            }
        }
        &.transition-drive--to-bottom {
            @starting-style {
                transform: translateX(0) translateY(-20px);
                opacity: 0;
            }
        }
    }
}
