
@layer base {
    .typo {
      @apply font-body text-base text-contrast;


    }
    .typo--rte {
        p:has(+ p) {
            @apply mb-4;
        }

        ul {
            list-style: disc;
            @apply pl-8;
        }

        ol {
            list-style: decimal;
            @apply pl-8;
        }

        li {
            @apply pl-2;
        }
    }

    /* Code for link underline transition. Paste as block style in theme.json */
    .typo--rte a,
    .dvll-link {
        @apply text-gray-950 font-normal;
        transition: color .25s, background-position .5s;
        transition-timing-function: cubic-bezier(.79, .14, .15, .86);
        --a-ln-pos: 100%;
        --a-ln-clr: var(--color-gray-400);
        --a-ln-act-clr: var(--color-primary);
        --dvll-link-underline-size: 2px;
        background: linear-gradient(90deg, var(--a-ln-act-clr) 0%, var(--a-ln-act-clr) 50%, var(--a-ln-clr) 50.0000001%, var(--a-ln-clr) 100%) var(--a-ln-pos) bottom / 200% var(--dvll-link-underline-size) no-repeat;
    }

    .dvll-link--small {
        --dvll-link-underline-size: 1px;
    }

    .typo--rte a:hover,
    .dvll-link:hover {
        --a-ln-pos: 0%;
        @apply text-tertiary;
    }
    /* Hover and focus styles separator because of bug in wordpress */
    .typo--rte a:focus,
    .dvll-link:focus {
        --a-ln-pos: 0%;
    }

    .typo-xs {
      font-size: var(--text-xs);
      line-height: var(--text-xs--line-height);
    }

    .heading-title {
      @apply font-style font-semibold;
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    .heading-h1 {
      @apply font-style font-semibold;
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    .heading-h2 {
      @apply font-style font-semibold;
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    .heading-h3 {
      @apply font-style font-semibold;
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
    }

    .heading-h4 {
      @apply font-style font-semibold;
      font-size: var(--text-lg);
      line-height: var(--text-lg--line-height);
    }

    .heading-h5,
    .heading-h6 {
      @apply font-style font-normal;
      font-size: var(--text-lg);
      line-height: var(--text-lg--line-height);
    }
}
